 body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
	  .nav li {
	  padding-top: 5px;
	  }
	  
	  .sidebar-nav {
        padding: 9px 0;
      }
	  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-color:#CCC;
 
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.leaderboard h1 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:#FF6600;
}
.leaderboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.well {
background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nav .nav-header {
font-size: 18px;
color:#FF9900;
}

.charttiltle{
	font-size: 18px; 
	letter-spacing: 0.8px; 
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
	font-weight: normal; 
	padding: 0 0 0 10px; 
	background-repeat: no-repeat; 
	background:#333 ; 
	background-image:url('images/chart_line_2.png');
	background-position: -154px -443px; 
	color: #fff;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	border: 0px solid;
    
}

.analytics-container-3 {
    float:left;
    width:100%;
    background:green;
    overflow:hidden;
    position:relative;
}
.analytics-container-2 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    right:30%;
}
.analytics-container-1 {
    float:left;
    width:100%;
    background:red;
    position:relative;
    right:40%;
}
.col1 {
    float:left;
    width:18%;
    position:fixed;
    left:1%;
    overflow:visible;
	
}
.col2 {
    float:left;
    width:36%;
    position:fixed;
    left:20%;
    overflow:hidden;
	
}
.col3 {
    float:left;
    width:36%;
    position:fixed;
    left:60%;
    overflow:hidden;
	
}

.center-content {
	float: none;
	padding: 11% 1% 1% 1%;
	width: 72%;
	margin: 0 0 0 1.5%;
	padding-bottom: 8%;
	display: inline-block;
	float:none;
}

.left-content {
	padding: 10.5% 0.5% 0.5% 1%;
	width: 19%;
	float: left;
	margin-bottom: 2%;
}

.right-content {
	width: 19%;
	float: right;
}

.left-content, .right-content, .center-content {
	position: relative;
}

.column {
	background:#3C9;
	width: 25%;
	float: left;
	margin-left: 1%;
	height: inherit;
}
.column2 {
	background:#00C;
	width: 40%;
	float:none;
	margin-left: 0.5%;
	height: inherit;
}
.column3 {
	background:#333;
	width: 32%;
	float: left;
	margin-left: 1%;
	height: inherit;
}
