<table class="centre" style="display:none" id="delivery_centre">
	
	<thead><th colspan ="8">WHAT ARE THE MAIN REASONS FOR NOT CONDUCTING DELIVERIES? </br>(multiple selections allowed)</th></thead>
	<tr><th colspan ="2">Inadequate skill or staff</th><th colspan ="2"> Inadequate infrastructure (equipment)</th>
	<th colspan ="2">  Inadequate commodities and supplies</th><th colspan ="2">  Other</th></tr>
	<td style ="text-align:center;" colspan ="2">
			<input type="checkbox" name="rsnDeliveries[]" id="rsnDeliveriesSkill" value="1" />
			</td>
			<td style ="text-align:center;" colspan ="2">
			<input type="checkbox" name="rsnDeliveries[]" id="rsnDeliveriesInfra" value="2" />
			</td>
			<td style ="text-align:center;" colspan ="2">
			<input type="checkbox" name="rsnDeliveries[]" id="rsnDeliveriesCommo" value="3" />
			</td>
			<td style ="text-align:center;" colspan ="2">
			<input type="checkbox" name="rsnDeliveries[]" id="rsnDeliveriesOther" value="4" />
			</td>
	
	
	</table>
