
        

	<table class="centre">
		<thead>
			<th colspan="14" >$DISTRICT DISTRICT FACILITIES SUMMARY </th>
		</thead>
		
		    <th colspan="2"></th>
			<th  colspan="7">MFL CODE</th>
			<th   colspan="4"> FACILITY NAME </th>			
			<th  colspan="5">SURVEY STATUS</th>
			<th  colspan="5">ACTION</th>

		</tr>
		
       <tr> 
       	<td colspan="2">$counter</td>
			<td colspan="7" >'.$value['facilityCode'].'</td>
			<td colspan="4">'.$value['facilityName'].'</td>
			<td colspan="5">'.$value['facilitySurveyStatus'].'</td>
			<td colspan="5" id="'.$value['facilityCode'].'"><a href="#">Begin Survey</a></td>
			
		</tr>
	</table>