       <tr>
			<td>JANUARY</td><td colspan ="2"></td><td>
			<input type="text" id="january_12" name="january_12" class="cloned numbers"/>
			</td>
			<td colspan ="1"></td>
			<td>
			<input type="text" id="january_13" name="january_13" class="cloned numbers"/>
			</td><td colspan ="2"></td><td>JULY</td></td><td>
			<input type="text" id="july_12" name="july_12" class="cloned numbers"/>
			</td>

		</tr>

		<tr>
			<td>FEBRUARY</td><td colspan ="2"></td><td>
			<input type="text" id="february_12" name="february_12" class="cloned numbers"/>
			</td>
			<td colspan ="1"></td>
			<td>
			<input type="text" id="february_13" name="february_13" class="cloned numbers"/>
			</td><td colspan ="2"></td><td>AUGUST</td><td>
			<input type="text" id="august_12" name="august_12" class="cloned numbers"/>
			</td>

			>
		</tr>

		<tr>
			<td>MARCH</td><td colspan ="2"></td><td>
			<input type="text" id="march_12" name="march_12" class="cloned numbers"/>
			</td>
			<td colspan ="1"></td>
			<td>
			<input type="text" id="march_13" name="march_13" class="cloned numbers"/>
			</td><td colspan ="2"></td><td>SEPTEMBER</td><td>
			<input type="text" id="september_12" name="september_12" class="cloned numbers"/>
			</td>
		</tr>
		<tr>
			<td>APRIL</td><td colspan ="2"></td><td>
			<input type="text" id="april_12" name="april_12" class="cloned numbers"/>
			</td>
			<td colspan ="1"></td>
			<td>
			<input type="text" id="april_13" name="april_13" class="cloned numbers"/>
			</td><td colspan ="2"></td><td>OCTOBER</td><td>
			<input type="text" id="october_12" name="october_12" class="cloned numbers"/>
		</tr>
		<tr>
			<td>MAY</td><td colspan ="2"></td><td>
			<input type="text" id="may_12" name="may_12" class="cloned numbers"/>
			</td>
			<td colspan ="1"></td>
			<td>
			<input type="text" id="may_13" name="may_13" class="cloned numbers"/>
			</td><td colspan ="2"></td><td>NOVEMBER</td><td>
			<input type="text" id="november_12" name="november_12" class="cloned numbers"/>
			</td>
		</tr>
		<tr>
			<td>JUNE</td><td colspan ="2"></td><td>
			<input type="text" id="june_12" name="june_12" class="cloned numbers"/>
			</td>
			<td colspan ="1"></td>
			<td>
			<input type="text" id="june_13" name="june_13" class="cloned numbers"/>
			</td><td colspan ="2"></td><td>DECEMBER</td><td>
			<input type="text" id="december_12" name="december_12" class="cloned numbers"/>
			</td>
		</tr>