<html>
	<h3>Check where sick children under five years are managed from:</h3>
	Where are sick children below five years of age seen? (Note : At this point relocate to the unit where the sick children are seen)	OPD 	MCH	Casaulty	Other (Specify)		____________________

	<h3>Availability of Policy, Guidelines and Job Aids:</h3>
	Does the unit have the MOH IMCI chart booklet?	Yes		No 		Notes to Assessor:                                                                                    
	Make sure you confirm the availability of these materials by checking for the hard copies
	Does the facility have the Mother and Child Health Booklets?	Yes		No
	Does the facility have the MOH Basic Paediatric protocols?	Yes		No
	Does the facility have any IEC (for the HCW) materials on:
	Diarrhoea	Yes		No
	Malaria	Yes		No
	Pneumonia	Yes		No
	Paediatric HIV 	Yes		No
	<h3>Case Management of Children:</h3>
	ASK
	Are the following services offered to all children?					
	Notes to Assessor:
	In this section, provide information on what you have actually observed.
	<h3>Observe if the following services are offered to all children in this facility:</h3>
	Temperature taken	Yes		No
	Weight taken	Yes		No
	Height/Length ttaken	Yes		No
	Use of MCH booklet	Yes		No
	MUAC taken	Yes		No
	<h3>Assessment of Danger Signs:</h3>
	(Ask in ongoing sessions for children with diarrhea)
	General danger signs checked: Ask
	History of Convulsions	Yes		No
	Vomitting everything	Yes		No
	Ability to drink or breastfeed	Yes		No
	<h3>Assessment of Danger Signs: (Observe ongoing sessions for children with diarrhea)</h3>
	Ability to drink or breastfeed	Yes		No
	Lethargy and unconsciousness 	Yes		No
	Vomitting everything	Yes		No
	<h3>Four Main Sysmptoms:</h3>
	Ask about presence of Cough 	Yes		No
	Ask about presence of Diarrhoea 	Yes		No
	Ask about presence of Fever 	Yes		No
	Ask about presence of Ear Problem	Yes		No
	<h3>Checks</h3>
	Malnutrition checked 	Yes		No
	Anaemia checked	Yes		No
	HIV Exposure established	Yes		No
	Immunization status checked	Yes		No
	Vitamin A status checked	Yes		No
	Care for development -Ask	Yes		No
	<h3>Assessment & Classification For Children With Diarrhoea (Observation)</h3>
	Notes to Assessor:
	1) This section should be handled by a clinical person who is familiar with IMCI
	2) Observe the management of at least 2 children  who have presented with diarrhoea
	Observe if Diarrhoea and dehydration is assessed:	CHILD 1				CHILD 2
	Asking about Duration of diarrhoea	Yes		No 		Yes		No
	Asking about presence of Blood in stool 	Yes		No 		Yes		No
	Looking for Lethargy or unconsciousness	Yes		No 		Yes		No
	Looking for Sunken eyes	Yes		No 		Yes		No
	Does the health worker offer the child fluid to drink	Yes		No 		Yes		No
	If yes check if:
	child is able to drink	Yes		No 		Yes		No
	child is drink poorly 	Yes		No 		Yes		No
	child is drinking eagerly	Yes		No 		Yes		No
	Checking if skin pinch goes back:	Yes		No 		Yes		No
	Very slowly, 	Yes		No 		Yes		No
	slowly or	Yes		No 		Yes		No
	Immediately	Yes		No 		Yes		No
	Conclusion: Is diarrhoea and dehydration assessed  correctly?(If score is YES for questions 52,53,54,55,56 and 61 then score YES here otherwise score No)	Yes		No 		Yes		No
	What is the health worker's classification? Write ______________________________________________                                                           (Severe dehydration, Some dehydration,No dehydration, Severe Persistent diarrhoea, Persistent diarrhoea, Dysentry, Severe prolonged diarrhoea (Sick young infant upto 2 months), Possible serious abdominal problems.)
	Is the classification correct?	Yes		No 		Yes		No
	<h3>Counselling</h3>
	On extra feeding done	Yes		No
	On home care 	Yes		No
	On when to return	Yes		No
	CHILD 1				CHILD 2
	Age of children observed (months and weeks)
	Gender (TICK APPLICABLE)	MALE		FEMALE		MALE		FEMALE
	<h3>Observe the Treatment of Children With Diarrhoea</h3>					
	Note to assessor:                                                       
	Note the treatment offered to the 2 observed cases
	What is the treatment  given to children with diarrhoea? (Check the prescription ) tick one applicable	CHILD 1				CHILD 2
	ORS + Zinc sulphate
	ORS + Zinc sulphate + Vitamin A
	ORS+ Zinc sulphate + Vitamin A + Ciprofloxacin
	Zinc sulphate
	ORS  only
	ORS+ Zinc sulphate + Septrin or amoxyl
	ORS + Zinc+ Anti-protozoals (Flagyl)
	ORS + Zinc+ Septrin/Amoxyl+ Anti-protozoals (Flagyl)
	ORS + Septrin or Amoxyl
	ORS + Anti-protozoals (Flagyl)
	Septrin
	Anti-protozoals (Flagyl) only
	Others (specify)
	<h3>Counselling of the Mother (Observation)</h3>	
	Note whether the HCWs has counselled the mother on the following 3 areas below
	Observe if the HCW provides counselling to the caregivers	CHILD 1				CHILD 2
	Counselled on feeding?	Yes		No 		Yes		No
	Counselling on home care ?	Yes		No 		Yes		No
	Counselling on when to return?	Yes		No 		Yes		No
	<h3>Monitoring & Evaluation: Tools Availablity</h3>
	Verify if the Unit has the following tools:					Notes to Assessor:
	Under 5 register?	Yes		No
	Under 5 tally sheets?	Yes		No
	Under 5 summary sheets?	Yes		No
	ORT Corner register (improvised)?	Yes		No
	<h3>Monitoring & Evaluation: Review of records Completion</h3>
	Number of Diarrhea cases in the tally sheets (Month of November)
	Total number of New Diarrhea cases in the under 5 register and improvised ORT register (Month of November)
	<h3>Monitoring & Evaluation: Diarrhoea Data</h3>
	Fill in the data for November 2012	 Verified Nov 2012 Data				
	Notes to Assessor:                                                                            
	Tally the data from the under five registers. Please note that diarrhoea may not be captured as diarrhoea in the registers. 
	Some facilities will have codes such as GE...engage the persons at the unit to give you the various codes they use to capture diarrhoea
	No of sick Children under five years seen in facility
	No. of sick Children with diarrhoea
	No. of Children assessed & classified for dehydration:
	Severe dehydration
	Some dehydration
	No dehydration
	Severe persistent diarrhoea
	Persistent diarrhoea
	Dysentry
	Prolonged severe diarrhoea
	Possible serious abdominal problems

	<h3>Diarrhoea Treatment : Indicate the number of children with the 4 classifications treated with the options below</h3>
	Treatment	Severe Dehydration	Some Dehydration	No Dehydration	Dysentry	No Classification	Notes to Assessor:                                                                                                          As you review the registers for the above data, also note the treatments prescribed for the children suffering from diarrhoea. If prescriptions are not given based on the dehydration classification, capture the treatment under - no classification
	ORS + Zinc sulphate
	ORS + Zinc sulphate + Vitamin A
	ORS+ Zinc sulphate + Vitamin A + Ciprofloxacin
	Zinc sulphate
	ORS  only
	ORS+ Zinc sulphate + Septrin or amoxyl
	ORS + Zinc+ Anti-protozoals (Flagyl)
	ORS + Zinc+ Septrin/Amoxyl+ Anti-protozoals (Flagyl)
	ORS + Septrin or Amoxyl
	ORS + Anti-protozoals (Flagyl)
	Septrin
	Anti-protozoals (Flagyl) only
	Others (specify)
	<h3>ORT CORNER ASSESSMENT</h3>
	Is there a corner dedicated for ORT in the facility ?	Yes		No 	If no, why?		Notes to Assessor:
	Where is it located? (Specify unit)	MCH	OPD/Casualty	Ward	Other (specify_______________
	What commodities and supplies are available at the ORT corner?
	What BCC materials (caregivers) are available at the ORT corner ?
	What diarroea data capturing tools are available at the ORT corner? (List all available)
	ORS Sachets (500ml)	Yes		No
	ZINC Tablets (20mg)  	Yes		No
	Vitamin A 	Yes		No
	Chlorine for Infection Prevention-Container with Cl-	Yes		No
	Add assessment tool for equipments for ORT corner
	Observe if the ORT corner is functional	Yes		No
</html>
