<p class="message success">PROVIDER SCORE</p>
<table class="centre">
    <thead>
        <tr>
            <th width="700px">GIVE ONE POINT FOR EACH ANSWER</th>
            <th >Response</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    	<td>ASSESSMENT</td>
    	<td><input type="text"></td>
    </tr>
    <tr>
    	<td>CLASSIFICATION</td>
    	<td><input type="text"></td>
    </tr>
    <tr>
    	<td>TREATMENT</td>
    	<td><input type="text"></td>
    </tr>
    <tr>
    	<td>COUNSELING</td>
    	<td><input type="text"></td>
    </tr>
    <tr>
    	<td>RETURNIN DATE FOR FOLLOW-UP</td>
    	<td><input type="text"></td>
    </tr>
    <tr>
    	<td>TOTAL</td>
    	<td><input type="text"></td>
    </tr>
    </tbody>
</table>
