<div id="section-1" class="step">
<table>
    <thead>
        <tr>
            <th colspan="4" style="font-size:22px">Follow up Support supervision checklist on IMCI after training </th>
        </tr>
        <tr>
            <th colspan="4" >Facility Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label for="">Name of the health centre/facility</label></td><td><input type="text" name="fi_health_centre" id="fi_health_centre"></td>
            <td><label for="">Date of supervision</label></td><td><input type="text" name="fi_date" id="fi_date"></td>
        </tr>
        <tr>
            <td><label for="">Facility type</label></td><td><input type="text" name="fi_facility_type" id="fi_facility_type"></td>
            <td><label for="">Name of Supervisor</label></td><td><input type="text" name="fi_supervisor_name" id="fi_supervisor_name"></td>
        </tr>
        <tr>
            <td><label for="">Level of Care</label></td><td><input type="text" name="fi_level" id="fi_level"></td>
            <td><label for="">MFL Code</label></td><td><input type="text" name="fi_mfl_code" id="fi_mfl_code"></td>
        </tr>
        <tr>
            <td><label for="">Municipality/Ward</label></td><td><input type="text" name="fi_ward" id="fi_ward"></td>
            <td><label for="">Designation</label></td><td><input type="text" name="fi_designation" id="fi_designation"></td>
        </tr>
        <tr>
            <td><label for="">Sub County</label></td><td><input type="text" name="fi_sub_county" id="fi_sub_county"></td>
            <td><label for="">County</label></td><td><input type="text" name="fi_county" id="fi_county"></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>
<table>
    <thead>
        <tr>
            <th colspan="4">HCW Profile </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4">Name of Provider</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="hp_first_name" id="hp_first_name"></td>
            <td>Surname</td>
            <td><input type="text" name="hp_surname" id="hp_surname"></td>
        </tr>
        <tr>
            <td>National ID</td>
            <td><input type="text" name="hp_national_id" id="hp_national_id"></td>
            <td>Phone Number</td>
            <td><input type="text" name="hp_phone_number" id="hp_phone_number"></td>
        </tr>
        <tr>
            <td colspan="1">Year, Month when trained <input type="text" name="hp_year" id="hp_year"></td>
            <td colspan="3"><p><b>Key coordinator of the training(Select one)</b></p>
                <p><input type="radio" name="hp_coordinator" id="">MOH/KPA/CHAI</p>
                <p><input type="radio" name="hp_coordinator" id="">MOH only</p>
                <p><input type="radio" name="hp_coordinator" id="">Other</p>
                <p>(If other, indicate the name of the coordinator/partner)<input type="text" name="hp_other" id="hp_other"></p>
            </td>
        </tr>
        <tr>
            <td colspan="1"><label for="">Designation</label></td>
            <td colspan="3"><input type="text" name="hp_coordinator" id="hp_coordinator"></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>
<p class="message success">Work Station Profile</p>
<table>
    <tbody>
        <tr>
            <td>Current Unit</td>
            <td><input type="text" name="ws_current_unit" id="ws_current_unit"></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1.	Is the HCW still working in the original facility they were when they got trained?
            </td>
            <td>
                <input type="radio" name="ws_original_facility" id="" value="yes">
            </td>
            <td>
                <input type="radio" name="ws_original_facility" id="" value="no">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                If No to question 1 indicate whether the HCW:
            </td>
        </tr>
        <tr>
            <td>
                Transferred to another facility in the same county
            </td>
            <td>
                <input type="radio" name="ws_another_facility" id="" value="yes">
            </td>
            <td>
                <input type="radio" name="ws_another_facility" id="" value="no">
            </td>
        </tr>
        <tr>
            <td colspan="3">If Yes, indicate name of the facility <input type="text" name="" id=""> </td>
        </tr>
        <tr>
            <td>
                Transferred to another facility in another county
            </td>
            <td>
                <input type="radio" name="ws_another_county" id="" value="yes">
            </td>
            <td>
                <input type="radio" name="ws_another_county" id="" value="no">
            </td>
        </tr>
        <tr>
            <td colspan="3">If  Yes, indicate the name of the county <input type="text" name="ws_county" id="ws_county"> and facility <input type="text" name="ws_facility" id="ws_facility"> </td>
        </tr>
    </tbody>
</table>
</div> <!-- end of section 1 -->
<div id="section-2" class="step">
<p class="message success">OBSERVATION OF CASE MANAGEMENT: ONE CASE PER HCW</p>
<table class="centre">
    <thead>
        <tr>
            <th colspan="2" >ARE THE FOLLOWING SERVICES OFFERED TO A CHILD</th>
        </tr>
        <tr>
            <th  style="width:65%">SERVICE</th>
            <th   style="width:35%;text-align:left"> RESPONSE </th>
        </tr>
    </thead>
    ' . $this -> mchIndicatorsSectionPDF['svc'] . '
</table>
<table class="centre">
    <thead>
        <tr>
            <th colspan="2" >ARE THE FOLLOWING DANGER SIGNS ASSESSED IN ONGOING SESSION FOR A CHILD</th>
        </tr>
        <tr>
            <th  style="width:65%">SERVICE</th>
            <th   style="width:35%;text-align:left"> RESPONSE </th>
        </tr>
    </thead>
    ' . $this -> mchIndicatorsSectionPDF['sgn'] . '
</table>
<p class="message success">ASSESSMENT FOR THE 4 MAIN SYMPTOMS IN AN ONGOING SESSION FOR A CHILD</p>
<table class="centre">
    <thead>
        <tr>
            <th width="700px">Symptom</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>1. Cough / Pneumonia</th>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
</table>
<table class="centre">
    <thead>
        <tr>
            <th width="700px">Symptom</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>2. Diarrhoea</th>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
</table>
<table class="centre">
    <thead>
        <tr>
            <th width="700px">Symptom</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>3. Fever / Malaria</th>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
</table>
<p class="message success">DOES THE HCW CHECK FOR THE FOLLOWING</p>
<table class="centre">
    <thead>
        <tr>
            <th width="700px" rowspan="2">Condition</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<table class="centre">
    <thead>
        <tr>
            <th width="700px" rowspan="2">Classification</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>6) Correct Classification(s)</td>
        </tr>
    </tbody>
</table>
<table class="centre">
    <thead>
        <tr>
            <th width="700px" rowspan="2">Treatment and Counselling</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>7) ORT given appropriately according to plan</td>
        </tr>
        <tr>
            <td>8) Children with diarrhoea treated with Zinc</td>
        </tr>
        <tr>
            <td>9) Antibiotic prescribed correctly</td>
        </tr>
        <tr>
            <td>10) No antibiotic needed; none given</td>
        </tr>
        <tr>
            <td>11) Anti-malarial prescribed correctly</td>
        </tr>
        <tr>
            <td>12) Needed Vitamin A supplementation given</td>
        </tr>
        <tr>
            <td>13) Needed de-worming medication given</td>
        </tr>
        <tr>
            <td>14) Appropriate counseling in feeding problems given </td>
        </tr>
        <tr>
            <td>15) Appropriate follow up arranged</td>
        </tr>
    </tbody>
</table>
<table class="centre">
    <thead>
        <tr>
            <th width="700px" rowspan="2">Referrals</th>
            <th colspan="2">Response</th>
        </tr>
        <tr>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>16) Necessary referral made, including referral note and pre-treatment</td>
        </tr>
    </tbody>
</table>
</div> <!-- end of section 2 -->
<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="2">Case 1</th>
            <th colspan="2">Case 2</th>
            <th colspan="2">Case 3</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
            <th>No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="8">3.1 Consultation observation (observe three patient consultations if possible): write N/A if not applicable </th>
        </tr>
        <tr>
            <td rowspan="4">3.1.1</td>
            <td colspan="7">Did provider follow IMCI protocol during</td>
        </tr>
        <tr>
            <td>Assessment( General danger signs and other signs)</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>  Classification</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Treatment  </td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.2</td>
            <td>Did provider use IMCI case recording form/register?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.3</td>
            <td>Did she do rapid test for malaria/ microscopy correctly? (Applicable only if the child with fever)</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.4</td>
            <td>Did she do tourniquet for Dengue correctly? (Applicable only if the child with fever less than 7 days)</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.5</td>
            <td>Did provider inform caregiver about illness of her child?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.6</td>
            <td>Did provider instruct caregiver how to give medicine to child?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.7</td>
            <td>Did provider give first dose of medicine at health centre?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.8</td>
            <td>Did provider counsel about child’s feeding?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.9</td>
            <td>Did provider explain how to take care of child?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.10</td>
            <td>Did provider ask caregiver for feedback</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.11</td>
            <td>Did he/she explain when to return?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.1.12</td>
            <td>Did he/she use mother’s card?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.13</td>
            <td>Duration of consultation (minutes)?</td>
            <td colspan="7"><input type="number"></td>
        </tr>
        <tr>
            <th colspan="8">3.2 Interview with the caregiver/mother</th>
        </tr>
        <tr>
            <td>3.2.1</td>
            <td>Was mother/caregiver satisfied?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.2.2</td>
            <td>Who advices mother/caregiver to seek care from this centre?</td>
            <td colspan="6"><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.2.3</td>
            <td>Did mother/caregiver explain correctly how to give medicine?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.2.4</td>
            <td>Did he/she explain correctly how to take care of child at home?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.2.5</td>
            <td>Did he/she explain when to return to health centre immediately?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>3.2.6</td>
            <td>Did s/he explain when to return to health centre for follow-up?</td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
            <td><input type="text" name="" id=""></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>
<p style="margin-top:100px" class="message success">PROVIDER SCORE</p>
<table class="centre">
    <thead>
        <tr>
            <th width="700px">GIVE ONE POINT FOR EACH ANSWER</th>
            <th >Response</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ASSESSMENT</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>CLASSIFICATION</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>TREATMENT</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>COUNSELING</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>RETURNIN DATE FOR FOLLOW-UP</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td><input type="text" name="" id=""></td>
        </tr>
    </tbody>
</table>
<p class="message success">ASSESSMENT OUTCOME</p>
<table>
    <tr>
        <td colspan="2">
            <p><input type="text" name="" id="">Fully Practicing IMCI</p>
            <p><input type="text" name="" id="">	Partially practicing IMCI (capture reasons) </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="">	Has some knowledge gaps (specify the gaps)<input type="text" name="" id=""></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="">	Others (specify)<input type="text" name="" id=""></p>
            <p><input type="text" name="" id="">	Not practicing IMCI (capture reasons) </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="">	Could not be traced</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="">	Transferred to another county</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="">	Transferred to a non-pardiatric unit</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="">	Other (specify)<input type="text" name="" id=""></p>
            <p>Certificatied:<input type="text" name="" id="">YES <input type="text" name="" id="">NO</p>
        </td>
    </tr>
</table>
<p style="margin-top:50px"></p>
<table style="border:2px solid #666">
    <tr>
        <td><i>Please leave a copy of signed report to respective facility before leaving and send one copy to district within 7 days of visit </i></td>
    </tr>
</table>